<!DOCTYPE html>
<html lang="en">
  <head>
    <title>moblieAuth</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css">
  </head>

  <body>
    <div class="wrapper">
      <form>
        <div class="input-wrapper">
          <div class="input">
            <label class="title" for="carrier">통신사</label>
            <select id="carrier"></select>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="input">
            <label class="title" for="phoneNumber">휴대폰 번호</label>
            <input type="text" id="phoneNumber" placeholder="휴대폰 번호" maxlength="13"/>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="input">
            <label class="title" for="registerNumber">주민등록번호</label>
            <input type="text" id="registerNumber" placeholder="OOOOOO - O" maxlength="8"/>
          </div>
        </div>
        <div class="input-wrapper">
          <div class="input">
            <label class="title" for="name">이름</label>
            <input type="text" id="name" placeholder="이름" maxlength="10"/>
          </div>
        </div>
        <div class="checkbox-wrapper">
          <ul id="terms"></ul>
          <input type="checkbox" id="allTermAgree" />
          <label for="allTermAgree">전체 동의하기</label>
        </div>
        <div>
          <button class="submit" type="button" id="certify" disabled="disabled">인증하기</button>
        </div>
      </form>
    </div>
  </body>
</html>